<div class="small-12 columns">
  <h1><%= @piece.title %></h1>
  <p><%= @piece.description %></p>
  <% if current_user == @piece.user %>
    <%= button_to 'Add Image', new_piece_image_path(@piece), method: :get, class: 'button small round' %>
    <table>
      <thead>
        <tr>
          <th width="150">Image</th>
          <th width="150">Weight</th>
          <th>Caption</th>
        </tr>
      </thead>
      <tbody>
        <% @piece.sorted_images.each do |image| %>
          <tr>
            <td><%= image_tag(image.img.url, class: 'th') %></td>
            <%= simple_form_for [@piece, image] do |f| %>
              <td><%= f.input :weight %></td>
              <td><%= f.input :caption %></td>
              <td width="150"><%= f.button :submit, class: 'button small round' %></td>
            <% end %>
          <% end %>
        </tr>
      </tbody>
    </table>
  <% else %>
  <ul class="small-block-grid-3">
    <% @piece.sorted_images.each do |image| %>
      <li>
        <%= link_to image_tag(image.img.url, alt: image.caption), piece_image_path(@piece, image), class: 'th' %>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>
