<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'Imago', root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href=>Menu</a>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li>
            <% if user_signed_in? %>
              <%= button_to 'Sign Out', destroy_user_session_path, class: "button round", method: :delete %>
            <% end %>
          </li>
          <li class="divider"></li>
        </ul>
        <ul class="left">
          <li class="divider"></li>
          <%- if user_signed_in? -%><li><%= link_to 'New Piece', new_piece_path %></li><%- end -%>
          <li class="divider"></li>
          <li>
            <%= link_to 'Pieces', pieces_path %>
          </li>
        </ul>
      </section>
    </nav>

    <div class="row">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
